@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-thumbnail.css');
h1,
p {
  font-family: Verdana;
  text-align: center;
  font-size: 2.25em;
  font-weight: 50;
}
body {
  margin: 0;
}

.gallery-item {
  padding: 5px;
}

.img-responsive {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 600px;
}

